.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button_submit {
	background-color: #ffc802;
}

.button_reset {
	color: #000000;
	background-color: white;
}

.button_submit:hover {
	background: var(--gold, #ffedab);
}

.button_reset:hover {
	background: var(--black, #000000);

	div {
		color: white;
	}
}
